@import "./userauth.less";
body{
    div.containerItems{
        width: 100%;
        div.registerFormMainContainer{
            width: 100%;
            display: flex;
            justify-content: space-between;
            div.registerLeft{
                width: 40%;
                display: flex;
                form{
                    width: 100%;
                    &.registerForm{
                        div.fieldWrapper{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            padding: 10px;
                            width: 90%;
                            label{
                                position: absolute;
                                margin-top: 9px;
                                margin-left: 10px;
                                background-color: #fff;
                                padding: 0 4px;
                                opacity: 0.5;
                            }
                            input{
                                padding: 0 10px;
                                border-radius: 8px;
                                height: 40px;
                                border: 1px solid gray;
                                width: 90%;
                            
                            }
                            .labelOnFocus{
                                animation-name: labelFormAnimation;
                                animation-duration: 0.5s;
                                margin-top: -13px;
                                opacity: 1;
                            }

                            @keyframes labelFormAnimation {
                                from {margin-top: 9px; opacity: 0.5;}
                                to {margin-top: -13px; opacity: 1;}
                            }

                            @keyframes labelFormAnimOff {
                                from {margin-top: -13px; opacity: 1;}
                                to {margin-top: 9px; opacity: 0.5;}
                            }
                            .labelNoFocus{
                                animation-name: labelFormAnimOff;
                                animation-duration: 0.5s;
                                margin-top: 9px;
                                opacity: 0.5;
                            }
                            input[type=submit]{
                                cursor: pointer;
                                background: @vivid-blue;
                                font-weight: 600;
                                color: @white;
                                border: none;
                            }
                        }
                    }
                }
            }
            div.registerRight{
                width: 40%;
                display: flex;
                align-items: center;
                div.whyRegister{
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    div.whyRegisterItems{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        div.whyRegisterRow{
                            display: flex;
                            justify-content: space-between;
                            div.whyRegisteritem{
                                width: 50%;
                                display: flex;
                                justify-content: center;
                                padding: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}