
body{
    div.containerItems{
        form{
            div.loginFormMain{
                    flex-direction: column;
                    div.loginFormHeader{
                        h1{
                            font-size: 20px
                        }
                    }
            }

            div.registerFormMain{
                div.registerFormItems{
                    div.registerFormItem{
                        display: flex;
                        padding: 10px;
                        align-items: center;
                        label{
                            display: flex;
                            width: 125px;
                        }
                        input{
                            height: 40px;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}